<div class="modal-body no-padding">
    <form>
        <div class="p-4">
            <div class="form-group title font-weight-bold">Print Barcode </div>
            <label class="form-group">Product - ( {{params.pname}} )</label>
            <div class="form-group">
                <label for="product_qty">Quantity*</label>
                <input type="number" class="form-control" id="product_qty" ng-model="params.product_qty" />
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Print size*</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>38mm x 25mm</option>
                    <option>50mm x 25mm</option>
                </select>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="showprice" name="showprice" ng-model="isShowPrice" ng-init="isShowPrice = true" checked="checked" />
                <label class="custom-control-label" for="showprice">Show price</label>
            </div>
            <div class="form-group text-center">
                <button class="cancel-barcode-print" ng-click="cancel();">Cancel&nbsp;<span class="shortcut">(Esc)</span></button>
                <button class="submit-barcode-print" type="submit" ng-click="printBarcode();">Print&nbsp;<span class="shortcut">(F12)</span></button>
            </div>
        </div>
    </form>
</div>