<nav class="navbar navbar-expand-lg navbar-light primary-toolbar">  
    

<!-- 
    <button class="secondry-btn curve-btn" style="min-width: 70px; font-size:10px; margin-right: 20px; cursor:pointer;" uib-tooltip="Menu Search" tooltip-placement="bottom" ng-click="searchMenu();">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" class="app-icon--link app-icon--topalign app-icon--smallsecondary mr-8" data-identifyelement="74">
            <path fill="#183247" d="M11.015 11.95c-2.641 2.17-6.557 2.013-9.033-.464-2.635-2.635-2.644-6.898-.019-9.523s6.888-2.616 9.523.019c2.477 2.476 2.633 6.392.464 9.033l3.855 3.855c.26.26.26.679.002.937a.662.662 0 01-.937-.002l-3.855-3.855zM2.902 2.902C.793 5.01.8 8.435 2.917 10.552c2.116 2.116 5.541 2.123 7.65.015 2.108-2.109 2.101-5.534-.015-7.65C8.435.8 5.01.793 2.902 2.902z" data-identifyelement="75"></path>
        </svg>
        <span class="shortcut">(Alt+M)</span>
    </button> -->

    <!-- <span style="font-size:20px;cursor:pointer; padding-right:10px;" onclick="openNav()">&#9776;</span>     -->
    <div class="breadcrumb-txt" ng-bind-html="breadcrumb_url"> </div>
    <button class="navbar-toggler" type="button" aria-label="Toggle navigation" ng-click="expandmenu = !expandmenu">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
    <div class="collapse navbar-collapse" ng-class="{'show' : expandmenu === true}">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">&nbsp;</li>
        </ul>
        <div class="align-right">
            <span class="user-note">{{username}}@{{clientname}}.{{orgname}}</span>
            <div uib-dropdown style="display: inline-block;">
                <button class="icon-btn" uib-dropdown-toggle>
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M467.819,431.851l-36.651-61.056c-16.896-28.181-25.835-60.437-25.835-93.312V224
                                      c0-82.325-67.008-149.333-149.333-149.333S106.667,141.675,106.667,224v53.483c0,32.875-8.939,65.131-25.835,93.312
                                      l-36.651,61.056c-1.984,3.285-2.027,7.403-0.149,10.731c1.899,3.349,5.461,5.419,9.301,5.419h405.333
                                      c3.84,0,7.403-2.069,9.301-5.419C469.845,439.253,469.803,435.136,467.819,431.851z M72.171,426.667l26.944-44.907
                                      C118.016,350.272,128,314.219,128,277.483V224c0-70.592,57.408-128,128-128s128,57.408,128,128v53.483
                                      c0,36.736,9.984,72.789,28.864,104.277l26.965,44.907H72.171z"/>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path d="M256,0c-23.531,0-42.667,19.136-42.667,42.667v42.667C213.333,91.221,218.112,96,224,96s10.667-4.779,10.667-10.667
                                      V42.667c0-11.776,9.557-21.333,21.333-21.333s21.333,9.557,21.333,21.333v42.667C277.333,91.221,282.112,96,288,96
                                      s10.667-4.779,10.667-10.667V42.667C298.667,19.136,279.531,0,256,0z"/>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path d="M302.165,431.936c-3.008-5.077-9.515-6.741-14.613-3.819c-5.099,2.987-6.805,9.536-3.819,14.613
                                      c2.773,4.715,4.288,10.368,4.288,15.936c0,17.643-14.357,32-32,32c-17.643,0-32-14.357-32-32c0-5.568,1.515-11.221,4.288-15.936
                                      c2.965-5.099,1.259-11.627-3.819-14.613c-5.141-2.923-11.627-1.259-14.613,3.819c-4.715,8.064-7.211,17.301-7.211,26.731
                                      C202.667,488.085,226.581,512,256,512s53.333-23.915,53.376-53.333C309.376,449.237,306.88,440,302.165,431.936z"/>
                            </g>
                        </g>
                    </svg>
                </button>
                <div class="menu-notify" uib-dropdown-menu ng-click="$event.stopPropagation();">
                    <div class="dropdown-header">
                        <div class="f-f-m" style="color: #183247;">Notifications</div>
                    </div>
                    <div class="padding-t-b-2em text-center" style="color: #6c757d;">No new notifications.</div>
                </div>
            </div>
            <div uib-dropdown style="display: inline-block;">
                <button class="user-circle" uib-dropdown-toggle>
                    {{username| firstchar}}
                </button>
                <div class="menu-logout" uib-dropdown-menu ng-click="$event.stopPropagation();">
                    <div class="dropdown-header">
                        <div class="f-f-m" style="color: #183247;">{{username}}</div>
                        <div>{{userid}}</div>
                    </div>
                    <!-- <button class="full-w-btn">My Account</button>
                    <button class="full-w-btn">Subscription</button>
                    <button class="full-w-btn">Privacy Settings</button> -->
                    <a href="#!/setuporg" class="full-w-btn">Setup Organization</a>
                    <button class="full-w-btn" ng-click="logoutUser();">Signout</button>
                </div>
            </div>
        </div>
    </div>
</nav>