<div ng-controller="ToolbarController" ng-include="'tmpls/header.html'"></div>
<div class="container-fluid secondry-bg padding-t-b-9px">
    <nav class="navbar navbar-expand-lg navbar-light no-padding">
        <div class="col-lg-auto no-padding navbar-brand">
            <div class="col-11 search-container no-l-padding float-left">
                <span class="search-icon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" placeholder="Search (F6)" />
            </div>
            <div class="col-1">
                <button class="navbar-toggler" type="button" aria-label="Toggle navigation" ng-click="expandmenu = !expandmenu">
                    <span class="glyphicon glyphicon-wrench"></span>
                </button>
            </div>
        </div>
        <div class="row collapse navbar-collapse" ng-class="{'show' : expandmenu === true}">
            <div class="col-md-4 verticle-center-padding no-l-r-padding">
                <!-- <div class="align-right"> -->
                <div>
                    Tools
                    <button class="secondry-btn m-r-5 curve-btn tool-icon">
                        <i class="glyphicon glyphicon-repeat"></i> <span class="shortcut">(F5)</span>
                    </button>
                    <button class="secondry-btn m-r-5 curve-btn tool-icon">
                        <i class="glyphicon glyphicon-trash"></i> <span class="shortcut">(F3)</span>
                    </button>
                    <button class="secondry-btn m-r-5 curve-btn tool-icon">
                        <i class="glyphicon glyphicon-picture"></i> <span class="shortcut">(F7)</span>
                    </button>
                </div>
            </div>
            <div class="col-md-2 verticle-center-padding no-l-r-padding">
                Layout <span class="shortcut">(F8)</span>
                <button class="primary-btn m-r-5">
                    <i class="glyphicon glyphicon-list"></i>
                </button>
            </div>
            <div class="col-md-3 verticle-center-padding no-l-r-padding">
                <select class="secondry-select m-r-5">
                    <option>Import</option>
                </select>
                <select class="secondry-select m-r-5">
                    <option>Export</option>
                </select>
            </div>
            <div class="col-md-3 verticle-center-padding no-l-r-padding">
                <span class="f-s-13">1 to 24 of 196</span>
                <span class="btn-group">
                    <button class="btns disabled">
                        <i class="glyphicon glyphicon-arrow-left"></i>
                    </button>
                    <button class="btns">
                        <i class="glyphicon glyphicon-arrow-right"></i>
                    </button>
                </span>
                <button class="secondry-btn m-r-5">
                    <i class="glyphicon glyphicon-filter"></i> <span class="shortcut">(F9)</span>
                </button>
                <button class="secondry-btn no-border">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </button>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid" style="height: calc(100vh - 112px); overflow-y: auto;">
    <div class="row">
        <div class="col-md-12 padding-t-b-1em no-padding-l-r">
            <table wt-responsive-table class="zearo-table">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Product ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Product Category</th>
                        <th>UOM</th>
                        <th>Sales Price</th>
                        <th>Purchase Price</th>
                        <th>Cost Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img ng-src="img/avatar.png" alt="image" class="grid-photo" /></td>
                        <td>Product ID</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Product Category</td>
                        <td>UOM</td>
                        <td>Sales Price</td>
                        <td>Purchase Price</td>
                        <td>Cost Price</td>
                    </tr>
                    <tr>
                        <td><img ng-src="img/avatar.png" alt="image" class="grid-photo" /></td>
                        <td>Product ID</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Product Category</td>
                        <td>UOM</td>
                        <td>Sales Price</td>
                        <td>Purchase Price</td>
                        <td>Cost Price</td>
                    </tr>
                    <tr>
                        <td><img ng-src="img/avatar.png" alt="image" class="grid-photo" /></td>
                        <td>Product ID</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Product Category</td>
                        <td>UOM</td>
                        <td>Sales Price</td>
                        <td>Purchase Price</td>
                        <td>Cost Price</td>
                    </tr>
                    <tr>
                        <td><img ng-src="img/avatar.png" alt="image" class="grid-photo" /></td>
                        <td>Product ID</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Product Category</td>
                        <td>UOM</td>
                        <td>Sales Price</td>
                        <td>Purchase Price</td>
                        <td>Cost Price</td>
                    </tr>
                    <tr>
                        <td><img ng-src="img/avatar.png" alt="image" class="grid-photo" /></td>
                        <td>Product ID</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Product Category</td>
                        <td>UOM</td>
                        <td>Sales Price</td>
                        <td>Purchase Price</td>
                        <td>Cost Price</td>
                    </tr>
                    <tr>
                        <td><img ng-src="img/avatar.png" alt="image" class="grid-photo" /></td>
                        <td>Product ID</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Product Category</td>
                        <td>UOM</td>
                        <td>Sales Price</td>
                        <td>Purchase Price</td>
                        <td>Cost Price</td>
                    </tr>
                    <tr>
                        <td><img ng-src="img/avatar.png" alt="image" class="grid-photo" /></td>
                        <td>Product ID</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Product Category</td>
                        <td>UOM</td>
                        <td>Sales Price</td>
                        <td>Purchase Price</td>
                        <td>Cost Price</td>
                    </tr>
                    <tr>
                        <td><img ng-src="img/avatar.png" alt="image" class="grid-photo" /></td>
                        <td>Product ID</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Product Category</td>
                        <td>UOM</td>
                        <td>Sales Price</td>
                        <td>Purchase Price</td>
                        <td>Cost Price</td>
                    </tr>
                    <tr>
                        <td><img ng-src="img/avatar.png" alt="image" class="grid-photo" /></td>
                        <td>Product ID</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Product Category</td>
                        <td>UOM</td>
                        <td>Sales Price</td>
                        <td>Purchase Price</td>
                        <td>Cost Price</td>
                    </tr>
                    <tr>
                        <td><img ng-src="img/avatar.png" alt="image" class="grid-photo" /></td>
                        <td>Product ID</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Product Category</td>
                        <td>UOM</td>
                        <td>Sales Price</td>
                        <td>Purchase Price</td>
                        <td>Cost Price</td>
                    </tr>
                    <tr>
                        <td><img ng-src="img/avatar.png" alt="image" class="grid-photo" /></td>
                        <td>Product ID</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Product Category</td>
                        <td>UOM</td>
                        <td>Sales Price</td>
                        <td>Purchase Price</td>
                        <td>Cost Price</td>
                    </tr>
                    <tr>
                        <td><img ng-src="img/avatar.png" alt="image" class="grid-photo" /></td>
                        <td>Product ID</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Product Category</td>
                        <td>UOM</td>
                        <td>Sales Price</td>
                        <td>Purchase Price</td>
                        <td>Cost Price</td>
                    </tr>
                </tbody>
            </table>  
        </div>
    </div>
</div>