<div class="container-fluid padding-t-b-9px bg-white" style="height: 100vh;">
    <style>
        .sidenav {display:none !important;}
    </style>
    <div class="row login-form-div">
        <div class="col-md-4 offset-md-4 d-none">
            <div class="text-center m-b-30">
                <h2 class="f-f-b">Welcome</h2>
                <h6 class="color-secondry f-s-13">Login to access the dashboard</h6>
            </div>
            <form name="loginForm" ng-submit="submitLogin();">
                <div class="form-group">
                    <label for="username" class="color-secondry">Email or Username*</label>
                    <input type="text" class="form-control -form-input" id="username" ng-model="form.name" autocomplete="off" required autofocus />
                </div>
                <div class="form-group">
                    <label for="password" class="color-secondry">Password*</label>
                    <input type="password" class="form-control -form-input" id="password" ng-model="form.password" required autocomplete="off" />
                </div>
                <div class="row">
                    <div class="col-md-2 no-padding">
                        <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-success form-control">
                            <span ng-if="loading === false"><u>L</u>ogin</span>
                            <img ng-src="img/loader_white.svg" ng-if="loading === true;" class="loader" />
                        </button>
                    </div>
                    <div class="col-md-9" style="line-height: 38px;">
                        <div class="form-group err-msg" ng-if="err_msg !== ''">{{err_msg}}</div>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 offset-4">
                    <div class="account-wall">
                        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                            alt="">
                    <form name="loginForm" ng-submit="submitLogin();">
                        <input id = "username" type="text" class="form-control" placeholder="Email" ng-model="form.name" autocomplete="off" required autofocus >
                        <input type="password" class="form-control" placeholder="Password" id="password" ng-model="form.password"  required>
                        <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg btn-primary btn-block">
                            <span ng-if="loading === false"><u>L</u>ogin</span>
                            <!--<img ng-src="img/loader_white.svg" ng-if="loading === true;" class="loader" /> -->
                        </button>    
                        <label class="checkbox pull-left">
                            <input type="checkbox" value="remember-me">
                            Remember me
                        </label>
                        <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                        </form>
                    </div>
                    <a href="#" class="text-center new-account">Create an account </a>
                </div>
            </div>
        </div>
</div>